numpy~=1.22.3
matplotlib~=3.5.1
qiskit~=0.34.2
qiskit-finance~=0.3.1
qiskit-machine-learning==0.3.1
qiskit-nature[pyscf]~=0.3.1
qiskit-optimization~=0.3.1
qiskit-aqua~=0.9.5
networkx~=2.7.1
pytest~=7.1.0
