<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        div {
            font-size: 0.8vw;
        }

        h1 {
            font-size: 2.2vw;
        }

        h2 {
            font-size: 1.2vw;
        }

        .form-control {
            margin: auto;
            font-size: 0.8vw;
        }
    </style>

    <title>MQT Bench</title>
    <link rel="shortcut icon" href="/app/mqtbench/benchviewer/static/favicon.ico">
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/mqtbench">

        <img src="/app/mqtbench/benchviewer/static/TUM_Logo_blau_rgb_s.svg" alt="" width="50" height="24"
             class="d-inline-block align-text-top">
        MQT Bench
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href=".">Benchmarks</a>
            <a class="nav-item nav-link " href="description">Level and File Descriptions</a>
            <a class="nav-item nav-link " href="benchmark_description">Benchmark Description</a>
            <a class="nav-item nav-link " href="https://www.cda.cit.tum.de/research/quantum/" target="_blank">More on
                our Work</a>
            <a class="nav-item nav-link " href="legal">Legal Information</a>
        </div>
    </div>
</nav>


<form method="POST" class="form-inline" role="form" action="download" id="benchmark_form" onchange="checks_on_change()">

    <div class="col-12" style="height:50px;"></div>
    <div class="container-fluid">
        <h1>
            Welcome to the MQT Benchmark Library (MQT Bench)!
        </h1>
        <p>Quantum software tools for a wide variety of design
            tasks on and across different levels of abstraction are crucial for
            eventually realizing useful quantum applications. This requires
            practical and relevant benchmarks in order for new software
            tools or design automation methods to be empirically evaluated and compared to the current
            state of the art. Since these tools and methods operate on and across different
            levels of abstraction, it is beneficial having benchmarks consistently available across those levels. The
            MQT Benchmark Library (MQT Bench) provides a single benchmark suite which offers the same benchmark
            algorithms on different levels of abstractions. At the moment, MQT Bench comprises more than 30.000
            benchmark
            circuits ranging from 2 up to 130 qubits on four abstraction levels.</p>

        <p>In order to create a benchmark set according to your needs, simply use to form below to choose
        <ul>
            <li>the desired benchmark,
            <li>the qubit range,
            <li>the abstraction level (we currently consider an algorithm level, a target-independent level, a
                target-dependent native gates level, and a target-dependent mapped level),
            <li>a native gate-set considered by the compiler (we currently consider the gate-sets provided by machines
                from IBM and Rigetti),
            <li>the architecture considered by the compiler (we currently consider the smallest and the biggest
                architecture possible for the respective benchmark), as well as
            <li>the optimization level used by the compiler to generate results for the target-dependent native gates
                level and the target-dependent mapped level (<i>O0</i> to <i>O3</i>, similar to the optimization levels
                of classical compilers).
        </ul>
        Afterwards, push the "Download Benchmarks"-button to download all benchmark instances based on the selection as
        a <i>.zip</i> file.</p>

        <p>For a brief description of the benchmarks, we are referring to <a href="benchmark_description">this page</a>.
        </p>

        <p>For a brief description of the file format of the resulting instances, we are referring to <a
                href="description">this page</a>.</p>

        <p>For a more detailed description of MQT Bench, we are referring to the corresponding paper
            <a href="TODO" target="_blank">"MQT Bench: Benchmarking Software and
                Design Automation Tools for Quantum Computing"</a>. Our implementation is available on
            <a href="https://github.com/cda-tum/MQTBench" target="_blank">Github</a>.
        </p>

        <p><strong>In case you are using MQT Bench in your work, we would be thankful if you referred to it by citing
            the following publication:</strong>
        <p>
            @misc{quetschlich2022mqtbench, <br>
            &nbsp; title={MQT Bench: Benchmarking Software and Design Automation Tools for Quantum Computing},<br>
            &nbsp; author={Quetschlich, Nils and Burgholzer, Lukas and Wille, Robert},<br>
            &nbsp; year={2022},<br>
            &nbsp; note=&#123;&#123;MQT Bench} is available at \url{https://www.cda.cit.tum.de/mqtbench/}},<br>
            }
        </p>
        </p>

        <p>In case you have any problems or questions feel free to contact us via <a
                href="mailto:quantum.cda@xcit.tum.de">quantum.cda@xcit.tum.de</a>. More on our work on quantum
            computation is summarized on <a href="https://www.cda.cit.tum.de/research/quantum" target="_blank">this
                page</a>.</p>

    </div>
    <div class="container-fluid">

        <div class="col-11 " style="height:50px;"></div>

        <div class="row h6">
            <div class="col-3">
                Benchmarks
            </div>
            <div class="col-2 text-center">
                Qubit Range
            </div>
            <div class="col-2 text-center">
                Abstraction Level
            </div>
            <div class="col-1 text-center">
                Native Gate-Set
            </div>
            <div class="col-2 text-center">
                Architecture
            </div>
            <div class="col-1 text-center">
                Optimization Level
            </div>
        </div>
        <div class="row h6">
            <div class="col-3">
            </div>
            <div class="col-2">
                <div class="d-flex text-center">
                    <div class="" style="width: 50%">Min (>1)</div>
                    <div class="" style="width: 50%">Max (&leq;130)</div>
                </div>
            </div>
            <div class="col-2 d-flex text-center">
                <div style="width: 25%">
                    Alg.
                </div>
                <div style="width: 25%">
                    Indep.
                </div>
                <div style="width: 25%">
                    Gates
                </div>
                <div style="width: 25%">
                    Map.
                </div>
            </div>
            <div class="col-1">
                <div class="col d-flex text-center">
                    <div style="width: 50%">
                        IBM
                    </div>
                    <div style="width: 50%">
                        Rigetti
                    </div>
                </div>
            </div>
            <div class="col-2 d-flex text-center">
                <div style="width: 50%">
                    Smallest
                </div>
                <div style="width: 50%">
                    Biggest
                </div>
            </div>
            <div class="col-1 d-flex text-center">
                <div style="width: 25%">
                    0
                </div>
                <div style="width: 25%">
                    1
                </div>
                <div style="width: 25%">
                    2
                </div>
                <div style="width: 25%">
                    3
                </div>
            </div>
        </div>


        <div>
            <div class="row">
                <div class="col-3">
                    <input class="form-check-input" type="checkbox" value="all"
                           onchange="toggleSelectCheckbox(0)"
                           id="selectBench_0" name="selectBench_0">

                    All Benchmarks
                </div>
                <div class="col-2 d-flex">

                    <input type="number" class="form-control form-control-sm" min="2" max="130" value="5"
                           id="minQubits_0" name="minQubits_0" placeholder="Min" disabled
                           onchange="QubitMinAllChange(this.value)">
                    <input type="number" class="form-control form-control-sm" min="2" max="130" value="40"
                           id="maxQubits_0" name="maxQubits_0" placeholder="Min" disabled
                           onchange="QubitMaxAllChange(this.value)">
                </div>

                <div class="col-2 text-center d-flex ">
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true" id="algorithmLevel_0"
                               name="algorithmLevel_0" onchange="toggleAlgoCheckbox()" disabled>
                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true" id="indepLevel_0"
                               name="indepLevel_0" onchange="toggleIndepCheckbox(0)" disabled>
                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true" id="nativeGatesLevel_0"
                               name="nativeGatesLevel_0" onchange="toggleNativeGatesCheckbox(0)" disabled>

                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true" id="mappedLevel_0"
                               name="mappedLevel_0" onchange="toggleMappedCheckbox(0)" disabled>
                    </div>
                </div>

                <div class="col-1 d-flex text-center">
                    <div style="width: 50%">
                        <input class=" form-check-input" type="checkbox" name="ibm_0"
                               id="ibm_0" value="ibm" onchange="toggleIBM()" disabled>
                    </div>
                    <div style="width: 50%">
                        <input class=" form-check-input" type="checkbox" name="rigetti_0"
                               id="rigetti_0" value="rigetti" onchange="toggleRigetti()" disabled>
                    </div>
                </div>

                <div class="col-2 d-flex text-center">

                    <div style="width: 50%">
                        <input class="form-check-input" type="checkbox" name="smallest_arch_0"
                               id="smallest_arch_0" onchange="toggleArchSmall()" value="True" disabled>
                    </div>
                    <div style="width: 50%">
                        <input class="form-check-input" type="checkbox" name="biggest_arch_0"
                               id="biggest_arch_0" value="True" onchange="toggleArchBig()" disabled>
                    </div>
                </div>
                <div class="col-1 d-flex text-center ">

                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel0_0"
                               id="optlevel0_0" value="0"
                               onchange="toogleOptLevel(0)" disabled>
                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel1_0"
                               id="optlevel1_0" value="1"
                               onchange="toogleOptLevel(1)" disabled>
                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel2_0"
                               id="optlevel2_0" value="2"
                               onchange="toogleOptLevel(2)" disabled>
                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel3_0"
                               id="optlevel3_0" value="3"
                               onchange="toogleOptLevel(3)" disabled>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-11" style="height:50px;"></div>

        <div>
            {% for benchmark in benchmarks %}

            <div class="row">
                <div class="col-3 align-items-center">
                    <input class="form-check-input" type="checkbox" value="{{ benchmark.name }}"
                           onchange="toggleSelectCheckbox({{ benchmark.id }})"
                           id="selectBench_{{ benchmark.id }}" name="selectBench_{{ benchmark.id }}">
                    {{ benchmark.name }}
                </div>
                <div class="col-2 d-flex text-center">
                    <input type="number" class="form-control form-control-sm" min="2" max="130" value="5"
                           id="minQubits_{{ benchmark.id }}" name="minQubits_{{ benchmark.id }}" placeholder="Min"
                           disabled
                           onchange="check_qubit_input_value(this.id, value)">
                    <input type="number" class="form-control form-control-sm" min="2" max="130" value="40"
                           id="maxQubits_{{ benchmark.id }}" name="maxQubits_{{ benchmark.id }}" placeholder="Min"
                           disabled
                           onchange="check_qubit_input_value(this.id, value)">
                </div>

                <div class="col-2 d-flex align-items-center text-center">
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true"
                               id="algorithmLevel_{{ benchmark.id }}"
                               name="algorithmLevel_{{ benchmark.id }}" disabled>
                    </div>

                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true"
                               id="indepLevel_{{ benchmark.id }}"
                               name="indepLevel_{{ benchmark.id }}"
                               onchange="toggleIndepCheckbox({{ benchmark.id }})"
                               disabled>
                    </div>

                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true"
                               id="nativeGatesLevel_{{ benchmark.id }}"
                               name="nativeGatesLevel_{{ benchmark.id }}"
                               onchange="toggleNativeGatesCheckbox({{ benchmark.id }})"
                               disabled>
                    </div>

                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true"
                               id="mappedLevel_{{ benchmark.id }}"
                               name="mappedLevel_{{ benchmark.id }}"
                               onchange="toggleMappedCheckbox({{ benchmark.id }})"
                               disabled>
                    </div>
                </div>
                <div class="col-1 d-flex align-items-center text-center">
                    <div style="width: 50%">
                        <input type="checkbox" class="form-check-input" name="ibm_{{ benchmark.id }}"
                               id="ibm_{{ benchmark.id }}" value="ibm" disabled>
                    </div>
                    <div style="width: 50%">
                        <input type="checkbox" class="form-check-input" name="rigetti_{{ benchmark.id }}"
                               id="rigetti_{{ benchmark.id }}" value="rigetti" disabled>
                    </div>

                </div>

                <div class="col-2 d-flex align-items-center text-center">
                    <div style="width: 50%">
                        <input class="form-check-input" type="checkbox" name="smallest_arch_{{ benchmark.id }}"
                               id="smallest_arch_{{ benchmark.id }}" value="True" disabled>
                    </div>
                    <div style="width: 50%">
                        <input class="form-check-input" type="checkbox" name="biggest_arch_{{ benchmark.id }}"
                               id="biggest_arch_{{ benchmark.id }}" value="True" disabled>
                    </div>
                </div>
                <div class="col-1 d-flex align-items-center text-center ">
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel0_{{ benchmark.id }}"
                               id="optlevel0_{{ benchmark.id }}" value="0" disabled>
                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel1_{{ benchmark.id }}"
                               id="optlevel1_{{ benchmark.id }}" value="1" disabled>
                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel2_{{ benchmark.id }}"
                               id="optlevel2_{{ benchmark.id }}" value="2" disabled>
                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel3_{{ benchmark.id }}"
                               id="optlevel3_{{ benchmark.id }}" value="3" disabled>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-11" style="height:50px;"></div>

        <div>
            {% for benchmark in nonscalable_benchmarks %}

            <div class="row">
                <div class="col-3 align-items-center">
                    <input class="form-check-input" type="checkbox" value="{{ benchmark.name }}"
                           onchange="toggleSelectCheckboxNonscalable({{ benchmark.id }})"
                           id="selectBench_{{ benchmark.id }}" name="selectBench_{{ benchmark.id }}">
                    {{ benchmark.name }}
                </div>
                <div class="col-2 d-flex align-items-center">
                    Fixed Number of Benchmark Circuits
                </div>

                <div class="col-2 d-flex align-items-center text-center">
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true"
                               id="algorithmLevel_{{ benchmark.id }}"
                               name="algorithmLevel_{{ benchmark.id }}" disabled>
                    </div>

                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true"
                               id="indepLevel_{{ benchmark.id }}"
                               name="indepLevel_{{ benchmark.id }}"
                               onchange="toggleIndepCheckbox({{ benchmark.id }})"
                               disabled>
                    </div>

                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true"
                               id="nativeGatesLevel_{{ benchmark.id }}"
                               name="nativeGatesLevel_{{ benchmark.id }}"
                               onchange="toggleNativeGatesCheckbox({{ benchmark.id }})"
                               disabled>
                    </div>

                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" value="true"
                               id="mappedLevel_{{ benchmark.id }}"
                               name="mappedLevel_{{ benchmark.id }}"
                               onchange="toggleMappedCheckbox({{ benchmark.id }})"
                               disabled>
                    </div>
                </div>
                <div class="col-1 d-flex align-items-center text-center">
                    <div style="width: 50%">
                        <input type="checkbox" class="form-check-input" name="ibm_{{ benchmark.id }}"
                               id="ibm_{{ benchmark.id }}" value="ibm" disabled>
                    </div>
                    <div style="width: 50%">
                        <input type="checkbox" class="form-check-input" name="rigetti_{{ benchmark.id }}"
                               id="rigetti_{{ benchmark.id }}" value="rigetti" disabled>
                    </div>
                </div>

                <div class="col-2 d-flex align-items-center text-center">
                    <div style="width: 50%">
                        <input class="form-check-input" type="checkbox" name="smallest_arch_{{ benchmark.id }}"
                               id="smallest_arch_{{ benchmark.id }}" value="True" disabled>
                    </div>
                    <div style="width: 50%">
                        <input class="form-check-input" type="checkbox" name="biggest_arch_{{ benchmark.id }}"
                               id="biggest_arch_{{ benchmark.id }}" value="True" disabled>
                    </div>
                </div>
                <div class="col-1 d-flex align-items-center text-center">
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel0_{{ benchmark.id }}"
                               id="optlevel0_{{ benchmark.id }}" value="0" disabled>
                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel1_{{ benchmark.id }}"
                               id="optlevel1_{{ benchmark.id }}" value="1" disabled>
                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel2_{{ benchmark.id }}"
                               id="optlevel2_{{ benchmark.id }}" value="2" disabled>
                    </div>
                    <div style="width: 25%">
                        <input class="form-check-input" type="checkbox" name="optlevel3_{{ benchmark.id }}"
                               id="optlevel3_{{ benchmark.id }}" value="3" disabled>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-11" style="height:50px;"></div>
        <div class="text-center ">
            <div class="same_row"> # of selected benchmarks:</div>
            <div class="same_row" id="num_benchmarks">0</div>
            <button type="submit" class=" btn btn-primary btn-lg mx-auto text-center" id="downloadButton"
                    value="submit">
                Download Benchmarks
            </button>
        </div>
        <div class="col-11" style="height:50px;"></div>

    </div>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<script>

    function checks_on_change() {
        get_num_benchs()
        handle_option_disabling()
        check_col_if_all_selected()
    }

    function get_num_benchs() {
        form = document.getElementById("benchmark_form")
        const formData = new FormData(form);
        fetch('./get_num_benchmarks', {
            method: 'POST',
            body: formData,
            dataType: 'json',
        }).then(response => response.json())
            .then(response => {
                document.getElementById("num_benchmarks").innerHTML = response.num_selected;
            });
    }

    function handle_option_disabling() {
        var ids = {{benchmarks|length}}+
        {{nonscalable_benchmarks|length}}
        for (let i = 0; i <= ids; i++) {
            if (document.getElementById("selectBench_" + i).checked) {
                if (document.getElementById("nativeGatesLevel_" + i).checked && !document.getElementById("mappedLevel_" + i).checked) {
                    document.getElementById("ibm_" + i).disabled = false;
                    document.getElementById("rigetti_" + i).disabled = false;
                    document.getElementById("optlevel0_" + i).disabled = false;
                    document.getElementById("optlevel1_" + i).disabled = false;
                    document.getElementById("optlevel2_" + i).disabled = false;
                    document.getElementById("optlevel3_" + i).disabled = false;
                    document.getElementById("smallest_arch_" + i).disabled = true;
                    document.getElementById("biggest_arch_" + i).disabled = true;
                } else if (document.getElementById("mappedLevel_" + i).checked) {
                    document.getElementById("ibm_" + i).disabled = false;
                    document.getElementById("rigetti_" + i).disabled = false;
                    document.getElementById("optlevel0_" + i).disabled = false;
                    document.getElementById("optlevel1_" + i).disabled = false;
                    document.getElementById("optlevel2_" + i).disabled = false;
                    document.getElementById("optlevel3_" + i).disabled = false;
                    document.getElementById("smallest_arch_" + i).disabled = false;
                    document.getElementById("biggest_arch_" + i).disabled = false;

                } else if (!document.getElementById("nativeGatesLevel_" + i).checked && !document.getElementById("mappedLevel_" + i).checked) {
                    document.getElementById("ibm_" + i).disabled = true;
                    document.getElementById("rigetti_" + i).disabled = true;
                    document.getElementById("optlevel0_" + i).disabled = true;
                    document.getElementById("optlevel1_" + i).disabled = true;
                    document.getElementById("optlevel2_" + i).disabled = true;
                    document.getElementById("optlevel3_" + i).disabled = true;
                    document.getElementById("smallest_arch_" + i).disabled = true;
                    document.getElementById("biggest_arch_" + i).disabled = true;
                }
            } else {
                document.getElementById("ibm_" + i).disabled = true;
                document.getElementById("rigetti_" + i).disabled = true;
                document.getElementById("optlevel0_" + i).disabled = true;
                document.getElementById("optlevel1_" + i).disabled = true;
                document.getElementById("optlevel2_" + i).disabled = true;
                document.getElementById("optlevel3_" + i).disabled = true;
                document.getElementById("smallest_arch_" + i).disabled = true;
                document.getElementById("biggest_arch_" + i).disabled = true;
            }
        }
    }

    function check_col_if_all_selected() {
        if (document.getElementById("selectBench_0").checked) {
            algo_layer = true;
            indep_layer = true;
            native_layer = true;
            mapped_layer = true;
            ibm = true;
            rigetti = true;
            smallest = true;
            biggest = true;
            opt_0 = true;
            opt_1 = true;
            opt_2 = true;
            opt_3 = true;

            var ids = {{benchmarks|length}}+
            {{nonscalable_benchmarks|length}}
            for (let i = 1; i <= ids; i++) {
                if (!document.getElementById("algorithmLevel_" + i).checked) {
                    algo_layer = false;
                }
                if (!document.getElementById("indepLevel_" + i).checked) {
                    indep_layer = false;
                }
                if (!document.getElementById("nativeGatesLevel_" + i).checked) {
                    native_layer = false;
                }
                if (!document.getElementById("mappedLevel_" + i).checked) {
                    mapped_layer = false;
                }
                if (!document.getElementById("ibm_" + i).checked) {
                    ibm = false;
                }
                if (!document.getElementById("rigetti_" + i).checked) {
                    rigetti = false;
                }
                if (!document.getElementById("smallest_arch_" + i).checked) {
                    smallest = false;
                }
                if (!document.getElementById("biggest_arch_" + i).checked) {
                    biggest = false;
                }
                if (!document.getElementById("optlevel0_" + i).checked) {
                    opt_0 = false;
                }
                if (!document.getElementById("optlevel1_" + i).checked) {
                    opt_1 = false;
                }
                if (!document.getElementById("optlevel2_" + i).checked) {
                    opt_2 = false;
                }
                if (!document.getElementById("optlevel3_" + i).checked) {
                    opt_3 = false;
                }
            }
            if (!document.getElementById("algorithmLevel_0").disabled) {
                document.getElementById("algorithmLevel_0").checked = algo_layer;
            }
            if (!document.getElementById("indepLevel_0").disabled) {
                document.getElementById("indepLevel_0").checked = indep_layer;
            }
            if (!document.getElementById("nativeGatesLevel_0").disabled) {
                document.getElementById("nativeGatesLevel_0").checked = native_layer;
            }
            if (!document.getElementById("mappedLevel_0").disabled) {
                document.getElementById("mappedLevel_0").checked = mapped_layer;
            }
            if (!document.getElementById("ibm_0").disabled) {
                document.getElementById("ibm_0").checked = ibm;
            }
            if (!document.getElementById("rigetti_0").disabled) {
                document.getElementById("rigetti_0").checked = rigetti;
            }
            if (!document.getElementById("smallest_arch_0").disabled) {
                document.getElementById("smallest_arch_0").checked = smallest;
            }
            if (!document.getElementById("biggest_arch_0").disabled) {
                document.getElementById("biggest_arch_0").checked = biggest;
            }
            if (!document.getElementById("optlevel0_0").disabled) {
                document.getElementById("optlevel0_0").checked = opt_0;
            }
            if (!document.getElementById("optlevel1_0").disabled) {
                document.getElementById("optlevel1_0").checked = opt_1;
            }
            if (!document.getElementById("optlevel2_0").disabled) {
                document.getElementById("optlevel2_0").checked = opt_2;
            }
            if (!document.getElementById("optlevel3_0").disabled) {
                document.getElementById("optlevel3_0").checked = opt_3;
            }

        }
    }
</script>

<script>
    function toggleSelectCheckbox(benchmark_id) {
        if (benchmark_id <= {{benchmarks|length}}) {
            document.getElementById("minQubits_" + benchmark_id).disabled = !document.getElementById("minQubits_" + benchmark_id).disabled;
            document.getElementById("maxQubits_" + benchmark_id).disabled = !document.getElementById("maxQubits_" + benchmark_id).disabled;
        }
        document.getElementById("algorithmLevel_" + benchmark_id).disabled = !document.getElementById("algorithmLevel_" + benchmark_id).disabled;
        document.getElementById("indepLevel_" + benchmark_id).disabled = !document.getElementById("indepLevel_" + benchmark_id).disabled;
        document.getElementById("nativeGatesLevel_" + benchmark_id).disabled = !document.getElementById("nativeGatesLevel_" + benchmark_id).disabled;
        document.getElementById("mappedLevel_" + benchmark_id).disabled = !document.getElementById("mappedLevel_" + benchmark_id).disabled;


        var ids = {{benchmarks|length}}+
        {{nonscalable_benchmarks|length}}
        if (benchmark_id == "0") {
            for (let i = 1; i <= ids; i++) {
                if (selectBench_0.checked) {
                    if (!document.getElementById("selectBench_" + i).checked) {
                        document.getElementById("selectBench_" + i).checked = true;
                        toggleSelectCheckbox(i)
                    }
                } else {
                    document.getElementById("selectBench_" + i).disabled = false;
                    if (document.getElementById("selectBench_" + i).checked) {
                        document.getElementById("selectBench_" + i).checked = false;
                        toggleSelectCheckbox(i)
                    }
                }
            }
        } else {
            if (!document.getElementById("selectBench_" + benchmark_id).checked) {
                activateLayers(0, false)
            }
        }

    }

    function toggleAlgoCheckbox() {
        var ids = {{benchmarks|length}}+
        {{nonscalable_benchmarks|length}}
        if (algorithmLevel_0.checked) {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("algorithmLevel_" + i).checked = true;
            }
        } else {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("algorithmLevel_" + i).checked = false;
            }

        }
    }

    function toggleIndepCheckbox(benchmark_id) {
        if (benchmark_id == "0") {
            var ids = {{benchmarks|length}}+
            {{nonscalable_benchmarks|length}}
            if (indepLevel_0.checked) {
                for (let i = 1; i <= ids; i++) {
                    document.getElementById("indepLevel_" + i).checked = true;
                    toggleIndepCheckbox(i)
                }
            } else {
                for (let i = 1; i <= ids; i++) {
                    document.getElementById("indepLevel_" + i).checked = false;
                    toggleIndepCheckbox(i)
                }

            }
        } else {
            if (!document.getElementById("indepLevel_" + benchmark_id).checked) {
                document.getElementById("indepLevel_0").checked = false;
            }
        }
    }

    function toggleNativeGatesCheckbox(benchmark_id) {

        if (!document.getElementById("nativeGatesLevel_" + benchmark_id).checked &&
            !document.getElementById("mappedLevel_" + benchmark_id).checked
        ) {

            document.getElementById("optlevel0_" + benchmark_id).checked = false;
            document.getElementById("optlevel1_" + benchmark_id).checked = false;
            document.getElementById("optlevel2_" + benchmark_id).checked = false;
            document.getElementById("optlevel3_" + benchmark_id).checked = false;

            document.getElementById("ibm_" + benchmark_id).checked = false;
            document.getElementById("rigetti_" + benchmark_id).checked = false;
        } else if (!document.getElementById("nativeGatesLevel_" + benchmark_id).checked &&
            !document.getElementById("mappedLevel_" + benchmark_id).checked) {
            document.getElementById("ibm_" + benchmark_id).checked = false;
            document.getElementById("rigetti_" + benchmark_id).checked = false;
        } else {
            document.getElementById("optlevel0_" + benchmark_id).checked = true;
            document.getElementById("optlevel1_" + benchmark_id).checked = true;
            document.getElementById("optlevel2_" + benchmark_id).checked = true;
            document.getElementById("optlevel3_" + benchmark_id).checked = true;
            document.getElementById("ibm_" + benchmark_id).checked = true;
            document.getElementById("rigetti_" + benchmark_id).checked = true;
        }
        var ids = {{benchmarks|length}}+
        {{nonscalable_benchmarks|length}}
        if (benchmark_id == "0") {
            if (document.getElementById("nativeGatesLevel_" + "0").checked) {
                for (let i = 1; i <= ids; i++) {
                    document.getElementById("nativeGatesLevel_" + i).checked = true;
                    toggleNativeGatesCheckbox(i)
                }
            } else {
                for (let i = 1; i <= ids; i++) {
                    document.getElementById("nativeGatesLevel_" + i).checked = false;
                    toggleNativeGatesCheckbox(i)
                }
            }
        } else {
            if (!document.getElementById("nativeGatesLevel_" + benchmark_id).checked) {
                document.getElementById("nativeGatesLevel_0").checked = false;
                if (!document.getElementById("mappedLevel_0").checked) {

                    document.getElementById("optlevel0_0").checked = false;
                    document.getElementById("optlevel1_0").checked = false;
                    document.getElementById("optlevel2_0").checked = false;
                    document.getElementById("optlevel3_0").checked = false;
                    document.getElementById("ibm_0").checked = false;
                    document.getElementById("rigetti_0").checked = false;
                }
            }
        }
        // without this call, this function and the checked marks may be executed too late for
        // the check_col_if_all_selected execution in the checks_on_change() method call
        check_col_if_all_selected()
    }

    function toggleMappedCheckbox(benchmark_id) {

        if (!document.getElementById("nativeGatesLevel_" + benchmark_id).checked &&
            !document.getElementById("mappedLevel_" + benchmark_id).checked
        ) {
            document.getElementById("optlevel0_" + benchmark_id).checked = false;
            document.getElementById("optlevel1_" + benchmark_id).checked = false;
            document.getElementById("optlevel2_" + benchmark_id).checked = false;
            document.getElementById("optlevel3_" + benchmark_id).checked = false;


            document.getElementById("ibm_" + benchmark_id).checked = false;
            document.getElementById("rigetti_" + benchmark_id).checked = false;
            document.getElementById("smallest_arch_" + benchmark_id).checked = false;
            document.getElementById("biggest_arch_" + benchmark_id).checked = false;
        } else if (!document.getElementById("mappedLevel_" + benchmark_id).checked && !document.getElementById("nativeGatesLevel_" + benchmark_id).checked) {

            document.getElementById("ibm_" + benchmark_id).checked = false;
            document.getElementById("rigetti_" + benchmark_id).checked = false;
            document.getElementById("smallest_arch_" + benchmark_id).checked = false;
            document.getElementById("biggest_arch_" + benchmark_id).checked = false;
        } else if (!document.getElementById("mappedLevel_" + benchmark_id).checked) {
            document.getElementById("smallest_arch_" + benchmark_id).checked = false;
            document.getElementById("biggest_arch_" + benchmark_id).checked = false;

        } else {
            document.getElementById("optlevel0_" + benchmark_id).checked = true;
            document.getElementById("optlevel1_" + benchmark_id).checked = true;
            document.getElementById("optlevel2_" + benchmark_id).checked = true;
            document.getElementById("optlevel3_" + benchmark_id).checked = true;
            document.getElementById("ibm_" + benchmark_id).checked = true;
            document.getElementById("rigetti_" + benchmark_id).checked = true;
            document.getElementById("smallest_arch_" + benchmark_id).checked = true;
            document.getElementById("biggest_arch_" + benchmark_id).checked = true;
            document.getElementById("ibm_" + benchmark_id).checked = true;
            document.getElementById("rigetti_" + benchmark_id).checked = true;
        }
        var ids = {{benchmarks|length}}+
        {{nonscalable_benchmarks|length}}
        if (benchmark_id == "0") {
            if (document.getElementById("mappedLevel_" + "0").checked) {
                for (let i = 1; i <= ids; i++) {
                    document.getElementById("mappedLevel_" + i).checked = true;
                    toggleMappedCheckbox(i)
                }
            } else {
                for (let i = 1; i <= ids; i++) {
                    document.getElementById("mappedLevel_" + i).checked = false;
                    toggleMappedCheckbox(i)
                }
            }
        } else {
            if (!document.getElementById("mappedLevel_" + benchmark_id).checked) {
                document.getElementById("mappedLevel_0").checked = false;
                document.getElementById("smallest_arch_0").checked = false;
                document.getElementById("biggest_arch_0").checked = false;
                if (!document.getElementById("nativeGatesLevel_0").checked) {

                    document.getElementById("optlevel0_0").checked = false;
                    document.getElementById("optlevel1_0").checked = false;
                    document.getElementById("optlevel2_0").checked = false;
                    document.getElementById("optlevel3_0").checked = false;
                    document.getElementById("ibm_0").checked = false;
                    document.getElementById("rigetti_0").checked = false;
                }
            }

        }

        // without this call, this function and the checked marks may be executed too late for
        // the check_col_if_all_selected execution in the checks_on_change() method call
        check_col_if_all_selected()
    }

    function activateLayers(benchmark_id, boolean_value) {
        if (benchmark_id <=  {{benchmarks|length}}) {
            document.getElementById("minQubits_" + benchmark_id).disabled = !boolean_value;
            document.getElementById("maxQubits_" + benchmark_id).disabled = !boolean_value;
        }
        document.getElementById("algorithmLevel_" + benchmark_id).disabled = !boolean_value;
        document.getElementById("indepLevel_" + benchmark_id).disabled = !boolean_value;
        document.getElementById("nativeGatesLevel_" + benchmark_id).disabled = !boolean_value;
        document.getElementById("mappedLevel_" + benchmark_id).disabled = !boolean_value;

    }

    function toggleIBM() {
        var ids = {{benchmarks|length}}+
        {{nonscalable_benchmarks|length}}
        if (ibm_0.checked) {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("ibm_" + i).checked = true;
            }
        } else {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("ibm_" + i).checked = false;
            }
        }
    }

    function toggleRigetti() {
        var ids = {{benchmarks|length}}+
        {{nonscalable_benchmarks|length}}
        if (rigetti_0.checked) {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("rigetti_" + i).checked = true;
            }
        } else {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("rigetti_" + i).checked = false;
            }
        }
    }

    function toggleArchSmall() {
        var ids = {{benchmarks|length}}+
        {{nonscalable_benchmarks|length}}
        if (smallest_arch_0.checked) {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("smallest_arch_" + i).checked = true;
            }
        } else {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("smallest_arch_" + i).checked = false;
            }
        }
    }

    function toggleArchBig() {
        var ids = {{benchmarks|length}}+
        {{nonscalable_benchmarks|length}}
        if (biggest_arch_0.checked) {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("biggest_arch_" + i).checked = true;
            }
        } else {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("biggest_arch_" + i).checked = false;
            }
        }
    }

    function toogleOptLevel(level) {
        var ids = {{benchmarks|length}}+
        {{nonscalable_benchmarks|length}}
        if (document.getElementById("optlevel" + level + "_0").checked) {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("optlevel" + level + "_" + i).checked = true;
            }
        } else {
            for (let i = 1; i <= ids; i++) {
                document.getElementById("optlevel" + level + "_" + i).checked = false;
            }
        }
    }

    function QubitMinAllChange(value) {
        if (value > 130) {
            document.getElementById("minQubits_0").value = 130;
            value = 130
        } else if (value < 1) {
            document.getElementById("minQubits_0").value = 2;
            value = 2
        }
        var ids =
        {{benchmarks|length}}
        for (let i = 1; i <= ids; i++) {
            document.getElementById("minQubits_" + i).value = value;
        }
        // min_val = document.getElementById("minQubits_"+i).min;
        // if (Number(value) > min_val){
        //     document.getElementById("minQubits_"+i).value = value;
        // }
        // else{
        //     document.getElementById("minQubits_"+i).value = min_val;
        // }
    }

    function QubitMaxAllChange(value) {
        if (value > 130) {
            document.getElementById("maxQubits_0").value = 130;
            value = 130
        } else if (value < 1) {
            document.getElementById("maxQubits_0").value = 2;
            value = 2
        }
        var ids =
        {{benchmarks|length}}
        for (let i = 1; i <= ids; i++) {
            document.getElementById("maxQubits_" + i).value = value;
        }
    }

    function check_qubit_input_value(id, value) {
        max_val = document.getElementById(id).max
        min_val = document.getElementById(id).min
        console.log(id)
        if (parseInt(value) > max_val) {
            document.getElementById(id).value = max_val;
        } else if (parseInt(value) < min_val) {
            document.getElementById(id).value = min_val;
        } else {
            document.getElementById(id).value = value;
        }
    }

    function toggleSelectCheckboxNonscalable(benchmark_id) {

        document.getElementById("algorithmLevel_" + benchmark_id).disabled = !document.getElementById("algorithmLevel_" + benchmark_id).disabled;
        document.getElementById("indepLevel_" + benchmark_id).disabled = !document.getElementById("indepLevel_" + benchmark_id).disabled;
        document.getElementById("nativeGatesLevel_" + benchmark_id).disabled = !document.getElementById("nativeGatesLevel_" + benchmark_id).disabled;
        document.getElementById("mappedLevel_" + benchmark_id).disabled = !document.getElementById("mappedLevel_" + benchmark_id).disabled;

        if (!document.getElementById("selectBench_" + benchmark_id).checked) {
            activateLayers(benchmark_id, false)
        } else {
            activateLayers(benchmark_id, true)
        }
    }

    $("form").keypress(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    })


</script>
</body>
</html>

