<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <style></style>

    <title>MQT Bench</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/mqtbench">
        <img
          src="{{ url_for('static', filename='tum_logo.svg') }}"
          alt=""
          width="50"
          height="24"
          class="d-inline-block align-text-top"
        />
        MQT Bench
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="index">Benchmarks</a>
          <a class="nav-item nav-link" href="description "
            >Level and File Descriptions</a
          >
          <a class="nav-item nav-link" href="benchmark_description "
            >Benchmark Description</a
          >
          <a
            class="nav-item nav-link"
            href="https://www.cda.cit.tum.de/research/quantum/"
            target="_blank"
            >More on our Work</a
          >
          <a class="nav-item nav-link active" href="legal">Legal Information</a>
        </div>
      </div>
    </nav>

    <div class="col-xs-12" style="height: 80px"></div>
    <div class="container">
      <strong>Herausgeber</strong><br />
      Technische Universität München<br />
      Arcisstraße 21<br />
      80333 München<br />
      Telefon: +49 89 289-01<br />
      poststelle@tum.de<br /><br />

      <strong>Rechtsform und Vertretung</strong><br />
      Die Technische Universität München ist eine Körperschaft des Öffentlichen
      Rechts und staatliche Einrichtung (Art. 11 Abs. 1 BayHSchG). Sie wird
      gesetzlich vertreten durch den Präsidenten Prof. Dr. Thomas F. Hofmann.
      <br /><br />
      <strong>Zuständige Aufsichtsbehörde</strong><br />
      Bayerisches Staatsministerium für Wissenschaft und Kunst<br /><br />

      <strong>Umsatzsteueridentifikationnummer</strong><br />
      DE811193231 (gemäß § 27a Umsatzsteuergesetz )<br /><br />

      <strong>Inhaltlich verantwortlich</strong><br />
      Prof. Dr. Robert Wille<br />
      Arcisstr. 21<br />
      80333 München<br />
      E-Mail: robert.wille(at)tum.de<br /><br />

      Namentlich gekennzeichnete Internetseiten geben die Auffassungen und
      Erkenntnisse der genannten Personen wieder.<br /><br />

      <strong>Nutzungsbedingungen</strong><br />
      Texte, Bilder, Grafiken sowie die Gestaltung dieses Webauftritts können
      dem Urheberrecht unterliegen. Nicht urheberrechtlich geschützt sind nach §
      5 des Urheberrechtsgesetz (UrhG)
      <ul>
        <li>
          Gesetze, Verordnungen, amtliche Erlasse und Bekanntmachungen sowie
          Entscheidungen und amtlich verfasste Leitsätze zu Entscheidungen und
        </li>
        <li>
          andere amtliche Werke, die im amtlichen Interesse zur allgemeinen
          Kenntnisnahme veröffentlicht worden sind, mit der Einschränkung, dass
          die Bestimmungen über Änderungsverbot und Quellenangabe in § 62 Abs. 1
          bis 3 und § 63 Abs. 1 und 2 UrhG entsprechend anzuwenden sind.
        </li>
      </ul>
      Als Privatperson dürfen Sie urheberrechtlich geschütztes Material zum
      privaten und sonstigen eigenen Gebrauch im Rahmen des § 53 UrhG verwenden.
      Eine Vervielfältigung oder Verwendung urheberrechtlich geschützten
      Materials dieser Seiten oder Teilen davon in anderen elektronischen oder
      gedruckten Publikationen und deren Veröffentlichung ist nur mit unserer
      Einwilligung gestattet. Diese Einwilligung erteilen auf Anfrage die für
      den Inhalt Verantwortlichen. Der Nachdruck und die Auswertung von
      Pressemitteilungen und Reden sind mit Quellenangabe allgemein gestattet.
      <br /><br />
      Weiterhin können Texte, Bilder, Grafiken und sonstige Dateien ganz oder
      teilweise dem Urheberrecht Dritter unterliegen. Auch über das Bestehen
      möglicher Rechte Dritter geben Ihnen die für den Inhalt Verantwortlichen
      nähere Auskünfte.
      <br /><br />
      <strong>Haftungsausschluss</strong><br />
      Alle in diesem Webauftritt bereitgestellten Informationen haben wir nach
      bestem Wissen und Gewissen erarbeitet und geprüft. Eine Gewähr für die
      jederzeitige Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit
      der bereit gestellten Informationen können wir allerdings nicht
      übernehmen. Ein Vertragsverhältnis mit den Nutzern des Webauftritts kommt
      nicht zustande.
      <br /><br />
      Wir haften nicht für Schäden, die durch die Nutzung dieses Webauftritts
      entstehen. Dieser Haftungsausschluss gilt nicht, soweit die Vorschriften
      des § 839 BGB (Haftung bei Amtspflichtverletzung) einschlägig sind. Für
      etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten durch
      Schadsoftware oder der Installation oder Nutzung von Software verursacht
      werden, übernehmen wir keine Haftung.
      <br /><br />
      <strong>Links</strong><br />
      Von unseren eigenen Inhalten sind Querverweise („Links") auf die Webseiten
      anderer Anbieter zu unterscheiden. Durch diese Links ermöglichen wir
      lediglich den Zugang zur Nutzung fremder Inhalte nach § 8
      Telemediengesetz. Bei der erstmaligen Verknüpfung mit diesen
      Internetangeboten haben wir diese fremden Inhalte daraufhin überprüft, ob
      durch sie eine mögliche zivilrechtliche oder strafrechtliche
      Verantwortlichkeit ausgelöst wird. Wir können diese fremden Inhalte aber
      nicht ständig auf Veränderungen überprüfen und daher auch keine
      Verantwortung dafür übernehmen. Für illegale, fehlerhafte oder
      unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung
      oder Nichtnutzung von Informationen Dritter entstehen, haftet allein der
      jeweilige Anbieter der Seite.
    </div>

    <div class="col-xs-12" style="height: 50px"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
