name: Deploy to PyPI

on:
  release:
    types: [ published ]
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build_wheel:
    name:    Build wheel
    runs-on: ubuntu-latest
    steps:
      - uses: snow-actions/sparse-checkout@v1.1.0
        with:
          patterns: |
            *
            !benchviewer
      - uses: actions/setup-python@v3
        name: Install Python
      - name: Install dependencies
        run: python -m pip install build
      - name: Build wheel
        run:  python -m build --wheel
      - name: Install wheel
        run: python -m pip install --verbose dist/*.whl
      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.whl

  build_sdist:
    name:    Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: snow-actions/sparse-checkout@v1.1.0
        with:
          patterns: |
            /*
            !/benchviewer
      - uses: actions/setup-python@v3
        name: Install Python
      - name: Install dependencies
        run: python -m pip install build
      - name: Build sdist
        run:  python -m build --sdist
      - name: Install sdist
        run: python -m pip install --verbose dist/*.tar.gz
      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  upload_pypi:
    needs: [ build_wheel, build_sdist ]
    runs-on: ubuntu-latest
    if:      github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist
      - uses: pypa/gh-action-pypi-publish@master
        with:
          user:          __token__
          password:      ${{ secrets.pypi_password }}
          skip_existing: true
          verbose:       true


